*{
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}
:root{
  --color-131921:#131921;
  --color-3b4149:#3b4149;
  --color-febd69:#febd69;
  --color-232f3e:#232f3e;
  --color-1f131b:#1f313b;
  --color-bf4800:#bf4800;
  --color-f5f5f7:#f5f5f7;
  --color-ededed:#ededed;
  --color-999999:#999999;
}
body{
  
  font-family: "Rubik",sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}
.gap-10{
  gap: 10px;

}
.gap-15{
  gap: 15px;
}
.gap-30{
  gap: 30px;
}
.button{
  background-color: var(--color-232f3e);
  font-size: 14px;
  padding: 13px 33px;
  color: white;
  border-radius: 25px;
}
.button:hover{
  background-color: var(--color-febd69);
  color: var(--color-131921);
}
.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
  flex-basis: calc(25% - 15px);
  margin-bottom: 15px;
}
.section-heading{

  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin-bottom: 30px;
}


/* Header Part */
.header-top-strip{
  border-bottom: 1px solid var(--color-3b4149);
  background-color:var(--color-131921);
  font-weight: 300;
  font-size: 14px;
}
.header-upper{
  background-color: #131921;
}
.header-bottom{
  background-color: var(--color-232f3e);
}
.header-upper .input-group-text{
  background-color: var(--color-febd69);
}

.header-upper .header-upper-links img{
  width: 35px;
  height: 35px;
}
.header-bottom .menu-links a,
.header-bottom .dropdown button{
  color:white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: .3;

}
.header-bottom .dropdown button:focus{
  box-shadow:none;
}
.header-bottom .dropdown-menu{
  width: 100%;
  background-color: var(--color-131921);
  transform: translate3d(0px, 49px, 0px) !important;
  
}
.header-bottom .dropdown-item{
  padding: 20px;
  margin-bottom: 3px;
  border-bottom:1px solid var(--color-3b4149)
}
.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-febd69) !important;
}

@media only screen and (max-width: 767px) {
  .header-upper .col-5 {
    width: 50%;
  }
  
  .header-upper-links {
    display: none;
  }
}
/* Header Part End Here */


/* Footer Part */

footer{
  background-color: var(--color-1f131b);
  color: #fff;
  padding: 50px;
}

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  /* Adjust the padding to make the footer more compact */
  footer {
    padding: 10px;
  }
}

footer:not(:first-child){
  border-top: 1px solid var(--color-3b4149)
}
footer .input-group{
  height: auto;
  padding: 0%;
}

footer .input-group-text{
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}

/* Footer Part End Here */


/* Home Page Part */
.main-banner-content{
  top:15%;
  left:5%;
}
.main-banner-content h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin: 0 0 12px;
}
.main-banner-content h5{

  font-size: 45px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -2px;
  text-transform: none;
} 
.main-banner-content p{
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 20px;
  letter-spacing: .4px;
}


.small-banner {
  width: 49%;
}

.small-banner:nth-child(2n) {
  clear: both;
}
.small-banner-content{
  top:25%;
  left:35%;
  right:10%
}
.small-banner-content h4{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin: 0 0 12px;
}
.small-banner-content h5{

  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -2px;
  text-transform: none;
} 
.small-banner-content p{
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 20px;
  letter-spacing: .4px;
}

/* Home Wrapper-2 */
.home-wrapper-2{
  background-color: var(--color-f5f5f7);
  padding: 50px 0;
  font-size: 14px;
}
/* Home Wrapper-2 Ends here */

/* Categories  */
.categories{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
  flex-basis: calc(25% - 15px);
  margin-bottom: 15px;
}
.categories>div{
  width: 20%;
}
.categories>div>div{
  width: 60%;
}
.categories>div:nth-child(n):not(:nth-child(5n+5)){
  border-right: 1px solid var(--color-ededed);
}
.categories> div:nth-child(-n+5){
  border-bottom: 1px solid var(--color-ededed);
 
}
/* Categories Ends Here */
/* Home Page End Here */

/* Blog Part */
.blog-wrapper{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 14px;
}

.blog-wrapper img{
  /* width: 100%;
  height: 200px; */
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.blog-card-content{
  padding: 20px;
  font-size: 14px;
  box-shadow: 0 0 10px #0000001a;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.blog-card-content p.date{
  font-size: 13px;
  line-height: 24px;
  color: var(--color-999999);
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 400;
  padding: 0;
}
.blog-card-content h6{
  font-size: 18px;
  line-height: 28px;
  color: var(--color-131921);
  margin-bottom: 10px;
  font-weight: 500;
  padding: 0;
}
.blog-card-content p.desc{
  font-size: 13px;
  line-height: 24px;
  color: var(--color-999999);
  margin-bottom: 10px;
  font-weight: 400;
  padding: 0;
}
/* Blog Part Ends Here */